<div class="sidebar">
  {% comment %}
        The link below is for showing the mail and linkedin icons
  {% endcomment %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>


    {% comment %}
    The below is a blog component that compiles the blog pages and shows it with the date etc but i modified it.
    {% endcomment %}
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">About</a>
      
      

      <a class="sidebar-nav-item" href="https://drive.google.com/file/d/1IQyDSVwnIBk6a6kTBHWR905eL0iIAVjL/view?usp=sharing">Resume</a>
      
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with BUT I DONT NEED IT NOW SO I'M COMMENTING IT ALL
        `layout: page` in the front-matter. See readme for usage.
        {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <table>
        <tr><a href="mailto:hrishikeshp33@am.students.amrita.edu"><i class="fa fa-envelope" style="font-size:25px;color:white;margin-right: 1em;"></i></a></tr>
        <tr><a href="https://www.linkedin.com/in/hrishikesh-p/"><i class="fa fa-linkedin" style="font-size:25px;color:white;margin-right: 1em;"></i></a></tr>
        <tr><a href="https://github.com/HrishikeshP-01"><i class="fa fa-github" style="font-size:25px;color:white"></i></a></tr>
      </table>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
